---
- name: Gather facts and set variables
  ansible.builtin.include_tasks: set_variables.yml

- name: Include IRQ management tasks
  ansible.builtin.include_tasks: irq_management.yml

- name: Write isolated core ids to /etc/environment
  ansible.builtin.lineinfile:
    path: /etc/environment
    state: present
    regexp: '^{{ core_isolation_env_isolated_cpus }}='
    line: '{{ core_isolation_env_isolated_cpus }}=[{{ core_isolation_isolated_ids_str }}]'
    create: true
    mode: '0644'

- name: Set GRUB parameters
  ansible.builtin.include_role:
    name: voraus.ipc_tools.grub_config
  vars:
    grub_config_entries_to_set:
      nomodeset: '{{ omit if not (core_isolation_enable_nomodeset | default(false) | bool) else None }}'
      isolcpus: 'managed_irq,domain,{{ core_isolation_isolated_ids_str }}'
      irqaffinity: '{{ core_isolation_allowed_cpus_str }}'
      rcu_nocbs: '{{ core_isolation_isolated_ids_str }}'
      rcu_nocb_poll:
