---
- name: Add wibu package maintainers GPG key to trusted keys
  ansible.builtin.get_url:
    url: https://wibu-packages.vorausrobotik.com/ubuntu/wibu-packages-maintainers.gpg
    dest: /usr/share/keyrings/wibu-package-maintainers.asc
    mode: '0644'

- name: Add wibu packages apt repo
  ansible.builtin.apt_repository:
    repo: 'deb [arch=amd64 signed-by=/usr/share/keyrings/wibu-package-maintainers.asc] https://wibu-packages.vorausrobotik.com/ubuntu/ ./'
    filename: wibu_packages
    state: present

- name: Install AxProtector in the requested version
  ansible.builtin.apt:
    update_cache: true
    name: '{{ wibu_axprotector_package_name }}={{ wibu_axprotector_package_version }}'
    state: present
